.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}



.logo-icon{
    width: 28px;
    height: 28px;
}

.tag-span{
    background-color: aqua;
}

body {
    font-family: 'Lato', sans-serif;
}
